<%- include('header') %>

<section>

    <% if (!token) { %>
        <form action="/login" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" required>
    
            <label for="password">Mot de passe</label>
            <input type="password" name="password" required>
    
            <input type="submit" value="Se connecter">
        </form>
    <% } %>

</section>

<%- include('footer') %>

    <h1>S'enregistrer</h1>
    <form action="/register" method="post">
        <label for="email">Email</label>
        <input type="email" name="email">

        <label for="pseudo">pseudo</label>
        <input type="pseudo" name="pseudo">

        <label for="password">Mot de passe</label>
        <input type="password" name="password">

        <input type="submit" value="S'enregistrer">
    </form>